<ui:composition template="/template/layout/userLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:growl id="messages" autoUpdate="true" showDetail="false" />
		<p:panel>
			<h:form id="proxyForm">
				<p:panel id="formPanel" header="Generate proxy">
					<h:panelGrid columns="3">
						<h:outputLabel for="validFrom" value="Valid from: " />
						<p:calendar id="validFrom"
							value="#{proxyBean.proxyForm.validFrom}" />
						<p:message for="validFrom" />

						<h:outputLabel for="daysValid" value="Days valid *" />
						<p:inputText id="daysValid"
							value="#{proxyBean.proxyForm.validDays}" required="true">
							<f:validateLongRange minimum="1" maximum="1000" />
						</p:inputText>
						<p:message for="daysValid" />

						<h:outputText value="Proxy Type: " />
						<p:selectOneMenu id="proxyType"
							value="#{proxyBean.proxyForm.proxyType}">
							<f:selectItems value="#{proxyBean.proxyForm.proxyTypes}"
								var="type" itemLabel="#{type.label}" itemValue="#{type}" />
						</p:selectOneMenu>
						<p:message for="proxyType" />

						<h:outputLabel for="user" value="Trusted User*" />
						<p:autoComplete id="user"
							value="#{proxyBean.proxyForm.targetUser}"
							completeMethod="#{proxyBean.completeUser}" var="user"
							itemLabel="#{user.fullName} (#{user.username})"
							itemValue="#{user}" converter="#{userConverter}" multiple="false"
							forceSelection="true">
							<p:column style="width:80%">
								#{user.fullName} - (#{user.username})
							</p:column>
						</p:autoComplete>
						<p:message for="user" />

						<p:commandButton value="Send"
							actionListener="#{proxyBean.sendProxy}" ajax="true"
							icon="ui-icon-disk" update="formPanel" />
						<p:commandButton value="Cancel" 
							action="/pages/user/home?faces-redirect=true" ajax="false" />
					</h:panelGrid>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>

</ui:composition>
