<ui:composition template="/template/layout/userLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="content">
		<p:panel id="introPanel" header="Signature processing">
			<p:growl id="growl" autoUpdate="true" />
			<ul>
				<li>Add and delete protected or unprotected proxies. Proxies
					usage is limited by the warrant, that specify valid period.</li>
				<li>Then you can sent newly created proxy to your company
					colleagues.</li>
				<li>Uploaded file could be signed using existing proxy or
					personal private key using DSA algorithm</li>
				<li>Signature could be verified against uploaded document</li>
			</ul>
		</p:panel>

		<p:panel header="Upload document">
			<h:form id="fileForm">
				<p:fileUpload id="upload"
					fileUploadListener="#{signBean.fileUpload.handleFileUpload}"
					update="fileForm" mode="advanced" dragDropSupport="true"
					sizeLimit="2000" auto="true">
					<p:messages id="fileMsg" showDetail="true" />
				</p:fileUpload>
			</h:form>
		</p:panel>

		<p:panel header="Upload document signature">
			<h:form id="signForm">
				<p:fileUpload id="upload" update="signForm"
					fileUploadListener="#{signBean.fileUpload.handleSignatureUpload}"
					mode="advanced" dragDropSupport="true" sizeLimit="2000" auto="true">
					<p:messages id="signMsg" showDetail="false" />
				</p:fileUpload>
			</h:form>

			<h:form id="verifyForm">
				<p:panel>
					<p:commandButton id="signBtn" value="Verify signature"
						action="#{signBean.verifySignature}" ajax="true"
						update="verifyForm" />
				</p:panel>
				
				<p:panel header="Validation results" footer="#{signBean.result.warrant == null ? 'DSA' : signBean.result.warrant.label}"
					rendered="#{signBean.result != null}">
					<ul>
						<p:panel rendered="#{signBean.result.valid}">
							<li><h:outputText value="Signature is valid" /></li>
						</p:panel>
						<p:panel rendered="#{!signBean.result.valid}">
							<li><h:outputText value="Signature is not valid" /></li>
						</p:panel>
						<p:panel rendered="#{signBean.result.proxyType == null}">
							<li><h:outputText
									value="Signed by #{signBean.result.originalSigner.fullName}" /></li>
						</p:panel>
						<p:panel rendered="#{signBean.result.proxyType != null}">
							<li><h:outputText
									value="Signed on behalf of #{signBean.result.originalSigner.fullName}" /></li>
						</p:panel>
						<p:panel rendered="#{signBean.result.proxyType == 'PROTECTED'}">
							<li><h:outputText
									value="Signed by  #{signBean.result.proxySigner.fullName}" /></li>
						</p:panel>
					</ul>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>

</ui:composition>
