<ui:composition template="/template/layout/userLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="content">
		<p:growl id="messages" autoUpdate="true" showDetail="false" />
		<p:panel>
			<h:form id="proxyForm">
				<p:panel id="formPanel" header="Sign document">
					<h:panelGrid columns="3">
						<h:outputText id="fileName"
							value="File uploaded: "/>
						<h:outputText value="#{signBean.fileUpload.fileName}"
							rendered="#{signBean.fileUpload.fileUploaded}" />
						<h:outputText value="no uploaded file to sign" styleClass="redText"
							rendered="#{!signBean.fileUpload.fileUploaded}" />
						<p:message for="fileName" />

						<h:outputLabel for="proxyType" value="Proxy Type: " rendered="#{signBean.proxyType != null}"/>
						<p:inputText id="proxyType" value="#{signBean.proxyType.label}"
							disabled="true" rendered="#{signBean.proxyType != null}"/>
						<p:message for="proxyType" rendered="#{signBean.proxyType != null}"/>

						<p:outputLabel for="proxy" value="Choose Proxy: " rendered="#{signBean.proxyType != null}"/>
						<p:selectOneMenu id="proxy" value="#{signBean.proxy}" rendered="#{signBean.proxyType != null}"
							effect="fade" converter="#{signBean.proxyConverter}" >
							<f:selectItems value="#{signBean.proxyList}" var="proxy"
								itemLabel="#{signBean.getOriginalUserLabel(proxy)}"
								itemValue="#{proxy}" />
						</p:selectOneMenu>
						<p:message for="proxy" rendered="#{signBean.proxyType != null}"/>

						<p:commandButton value="Sign" disabled="#{signBean.fileUpload.fileUploaded == false}"
							actionListener="#{signBean.signDocUsingProxy}" ajax="true" update="formPanel"/>

						<p:commandButton value="Cancel"
							action="/pages/user/home?faces-redirect=true" ajax="false" />
					</h:panelGrid>

					<p:commandButton id="downloadLink" value="Download Signature"
						ajax="false" icon="ui-icon-disk" disabled="#{signBean.file == null}">
						<p:fileDownload value="#{signBean.file}" />
					</p:commandButton>

				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
