@CHARSET "UTF-8";

body {
	font-family: "Lato", sans-serif;
}

.ui-layout-container {
	background-color: #e1e1e1 !important;
}

.ui-layout-center .ui-widget-content {
	background-color: #e1e1e1 !important;
}

.ui-autocomplete-multiple-container {
	width:208px !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.ui-widget-content,
.ui-layout-unit-content {
	padding: 5px !important;
}

.ui-layout-unit-header,
.ui-menu {
	opacity: 0.8;
}

.txt-bold {
	font-weight:bold;
}

.txt-center {
	text-align: center !important;
}

.font-size110 {
	font-size: 110% !important;
}

.redText {
	color: red;
}

.mt5 {
	margin-top: 5px;
}

.mt20 {
	margin-top: 20px;
}

.pt20 {
	padding-top: 20px;
}

.pl20 {
	padding-left: 20px;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.w210 {
	width: 210px !important;
}

.h30 {
	height: 30px !important;
}

.h40 {
	height: 40px !important;
}

