@CHARSET "UTF-8";

.ui-layout-container {
	background-image: url('../resources/img/bg.jpg');
	background-size: cover;
	min-height: 100%;
	width: 100%;
}

.ui-widget-content,
.ui-layout-unit,
.ui-layout-unit-content {
	background-color: transparent !important;
}

.ui-layout-center .ui-widget-content {
	background-color: transparent !important;
}

.ui-login-form {
	position: absolute !important;
	top: 30% !important;
	left: 15% !important;
	width: 70% !important;
	background-color: rgb(0, 0, 0, 0.71) !important;
}

#loginPanel {
	background-color: rgba(0, 0, 0, 0.71) !important;
}

.margin-auto {
	margin: auto;
}

.ui-widget-content {
	border: hidden;
}