<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<ui:composition template="/template/layout/layout.xhtml">
		<ui:define name="content">
			<div>
				<h2 class="txt-center">
					ВВЕДЕНИЕ
					</h2>

					<p>Технологии обработки информации непрерывно совершенствуются,
						а вместе с ними меняются и практические методы обеспечения
						информационной безопасности. Действительно, универсальных методов
						защиты не существует, во многом успех при построении механизмов
						безопасности для реальной системы будет зависеть от её
						индивидуальных особенностей, учёт которых плохо подаётся
						формализации. Поэтому часто информационную безопасность
						рассматривают как некую совокупность неформальных рекомендаций по
						построению систем защиты информации того или иного типа. Однако
						всё обстоит несколько сложнее. За практическими приёмами
						построения систем защиты лежат общие закономерности, которые не
						зависят от технических особенностей их реализации. Такие
						универсальные принципы и делают информационную безопасность
						самостоятельной научной дисциплиной [1].</p>
					<p>Основными угрозами для информационной безопасности являются
						перехват данных с целью использования сведений закрытого
						характера, модификация данных с целью фальсификации передаваемой
						информации, уничтожение данных для нарушения нормальной работы
						системы. Данные виды информационных угроз представляют особую
						опасность для информационной среды, так как их обнаружение
						является сложной технической задачей. Проблемы, вызванные
						нарушением информационной безопасности, могут повлечь за собой
						финансовые потери для физических лиц и организаций в целом, а
						также носить стратегический характер в конкурирующей борьбе между
						противоборствующими сторонами. В данной ситуации необходимо
						использовать комплекс мер, направленных на повышение уровня защиты
						информационных потоков и информационной среды от нежелательных
						факторов воздействия. С целью защиты информации в мировой практике
						выделяют основные проблемы, связанные с информационной
						безопасностью.</p>
					<p>Нарушение конфиденциальности информации – получение широкого
						доступа к информации, предназначенной для узкого круга лиц.</p>
					<p>Нарушение целостности информации – несанкционированное
						изменение, в результате которого информация не отражает реальное
						положение вещей или является внутренне противоречивой.</p>
					<p>Нарушение доступности информации - состояние информации, при
						котором субъекты, имеющие право доступа, не могут его
						реализовывать.</p>
					<p>Одним из основных направлений защиты информации является
						использование криптографических средств. В криптографии существуют
						методы и подходы, ориентированные на обеспечение
						конфиденциальности, целостности и доступности информации. Каждая
						из представленных проблем является отдельной темой для прикладных
						и научных исследований, однако основное внимание в данном
						дипломном проекте уделено криптографическим методам обеспечения
						целостности информации.</p>
					<p>Основными криптографическими методами обеспечения
						целостности информации являются электронные цифровые подписи,
						криптографические хеш-функции, коды проверки подлинности. Наиболее
						распространенным и мощным средством является электронная цифровая
						подпись. Существует множество мировых стандартов электронной
						цифровой подписи, в основе которых лежат аксиомы, теоремы и
						постулаты из различных разделов математики.</p>
					<p>Электронная цифровая подпись является наилучшим вариантом
						обеспечения целостности информации с точки зрения компромисса
						между простотой, защищенностью и производительностью, позволяя
						также решать проблемы аутентификации и не отрицания авторства.
						Существует большое количество модификаций, которые помимо
						обеспечения целостности данных предоставляют и некоторые
						дополнительные свойства, имеющие большое практическое применение.
						Именно они и будут являться темой для исследования в данном
						дипломном проекте. Важными вопросами в данной теме являются анализ
						алгоритмов и протоколов, лежащих в основе ЭЦП, и разработка
						программного средства, удовлетворяющего основным критериям, таким
						как безопасность и скорость работы.</p>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>