<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cust="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputStylesheet library="css" name="app.css" />
	<h:outputStylesheet library="css" name="login.css" />
</h:head>

<h:body>
	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="100" resizable="false"
			closable="false" collapsible="false">
			<ui:insert name="header">
				<ui:include src="/template/common/header.xhtml" />
			</ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="south" size="45" resizable="false"
			closable="false" collapsible="false">
			<ui:insert name="footer">
				<ui:include src="/template/common/footer.xhtml" />
			</ui:insert>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
				<p:panel id="loginPanel" styleClass="ui-login-form">			
					<h:form id="loginFormId" styleClass="pt20 mt20 mb20">
						<h:panelGrid styleClass="margin-auto" columns="3" cellpadding="10">
							<p:inputText id="username" value="#{userBean.username}"
								required="true" label="username" placeholder="Username"
								styleClass="w210 h30" />
							<h:inputSecret id="password" value="#{userBean.password}"
								required="true" label="password" cust:placeholder="Password"
								styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all w210 h30" />
							<p:commandButton id="loginButton" value="Login"
								action="#{userBean.login}" icon="ui-icon-check"
								styleClass="h40" />
							<p:message for="username" />
							<p:message for="password" />
							<!-- <p:commandButton id="registerButton" value="Register"
									action="#{userBean.register}" icon="ui-icon-check"/> -->
						</h:panelGrid>
					</h:form>
				</p:panel>	
		</p:layoutUnit>
	</p:layout>
</h:body>

</html>