<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form>
		<p:menubar styleClass="m5-menu-item font-size110">

			<p:menuitem value="|Sign|" outcome="/pages/user/home"
				rendered="#{userBean.checkRole('ROLE_USER')}" styleClass="mt5" />
			<p:menuitem value="Home" outcome="/pages/user/home"
				icon="ui-icon-close" rendered="#{userBean.checkRole('ROLE_USER')}"
				styleClass="mt5" />

			<p:menuitem value="|Sign|" outcome="/pages/admin/admin"
				rendered="#{userBean.checkRole('ROLE_ADMIN')}" styleClass="mt5" />
			<p:menuitem value="Home" outcome="/pages/admin/admin"
				icon="ui-icon-close" rendered="#{userBean.checkRole('ROLE_ADMIN')}"
				styleClass="mt5" />

			<p:menuitem value="Add Company" action="#{companyBean.toAddCompany}"
				ajax="false" rendered="#{userBean.checkRole('ROLE_ADMIN')}"
				styleClass="mt5" />
			<p:menuitem value="Companies" outcome="/pages/admin/companies"
				icon="ui-icon-help" rendered="#{userBean.checkRole('ROLE_ADMIN')}"
				styleClass="mt5" />

			<p:menuitem value="Add User" action="#{userBean.toAddUser}"
				ajax="false" rendered="#{userBean.checkRole('ROLE_ADMIN')}"
				styleClass="mt5" />
			<p:menuitem value="Users" outcome="/pages/admin/users"
				icon="ui-icon-help" rendered="#{userBean.checkRole('ROLE_ADMIN')}"
				styleClass="mt5" />

			<p:menuitem value="About" outcome="/pages/pub/about"
				icon="ui-icon-help" styleClass="mt5" />

			<!-- <p:submenu label="#{userBean.username}" icon="ui-icon-gear" rendered="#{'anonymousUser' != userBean.username}">  
	             	<p:menuitem value="Files" outcome="/pages/user/files" rendered="#{userBean.checkRole('ROLE_USER')}"/>
	             	<p:menuitem value="Users" outcome="/pages/admin/users" rendered="#{userBean.checkRole('ROLE_ADMIN')}"/>  
	                <p:menuitem value="Profile" outcome="/pages/user/profile" />  
	     		</p:submenu> -->

			<f:facet name="options">
				<f:facet name="options">
					<p:commandButton styleClass="btn" type="button" value="Logout"
						icon="ui-icon-extlink"
						onclick="location.href='/sign/j_spring_security_logout'" />
				</f:facet>
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>
