<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="generateProxyForm">
		<p:menu>
			<p:submenu label="Proxy">
				<p:menuitem value="Generate proxy" icon="ui-icon-star"
					action="#{proxyBean.toGenerateProxy}" ajax="false" />
			</p:submenu>
			<p:submenu label="Sign">
				<p:menuitem value="Sign - protected proxy"
					action="#{signBean.toProtectedProxy}" ajax="false" />
				<p:menuitem value="Sign - unprotected proxy"
					action="#{signBean.toUnprotectedProxy}" ajax="false" />
				<p:menuitem value="Sign - DSA private key"
					action="#{signBean.toDsa}" ajax="false" />
				<p:menuitem value="Verify signature" action="/pages/user/home"
					ajax="false" icon="ui-icon-star" />
			</p:submenu>
			<p:submenu label="Upload">
				<p:menuitem value="Document" action="/pages/user/home" ajax="false" />
				<p:menuitem value="Signature" action="/pages/user/home" ajax="false" />
			</p:submenu>
		</p:menu>
	</h:form>
</ui:composition>
