<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:growl id="messages" autoUpdate="true" />
		<h:form id="editForm">
			<p:accordionPanel id="companiesPanel" var="company" value="#{companyBean.companies}" activeIndex="-1">
				<p:tab title="#{company.name} (#{company.industry}) - #{company.maxUsers} users paid.">
					<p>
						<h:outputText value="Country: " styleClass="txt-bold" />
						<h:outputText value="#{company.country}" />
					</p>
					<p>
						<h:outputText value="City: " styleClass="txt-bold" />
						<h:outputText value="#{company.city}" />
					</p>
					<p class="mb0">
						<h:outputText value="Users: " styleClass="txt-bold" />
						<p:dataList value="#{company.users}" var="user" type="ordered">  
							#{user.fullName} (#{user.username})  
						</p:dataList>
					</p>
					
					<p:commandButton value="Edit"
						action="#{companyBean.toEditCompany(company.companyId)}"
						ajax="false" />
					<p:commandButton value="Delete"
						action="#{companyBean.deleteCompany(company.companyId)}"
						ajax="true" update="companiesPanel" />
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</ui:define>
</ui:composition>
