<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:growl id="messages" autoUpdate="true" showDetail="true" />
		<p:panel>
			<h:form id="userForm">
				<p:panel id="formPanel" header="Add user">
					<h:panelGrid columns="3">

						<h:outputLabel for="username" value="Username: *" />
						<p:inputText id="username" value="#{userBean.userForm.username}"
							required="true" disabled="#{userBean.userForm.editMode}">
							<f:validateLength minimum="3" />
						</p:inputText>
						<p:message for="username" />

						<h:outputLabel for="password" value="Password *" />
						<p:inputText id="password" value="#{userBean.userForm.password}"
							required="true">
						</p:inputText>
						<p:message for="password" />

						<h:outputLabel for="firstName" value="First name: *" />
						<p:inputText id="firstName" value="#{userBean.userForm.firstName}"
							required="true">
						</p:inputText>
						<p:message for="firstName" />

						<h:outputLabel for="lastName" value="Last Name: *" />
						<p:inputText id="lastName" value="#{userBean.userForm.lastName}"
							required="true">
						</p:inputText>
						<p:message for="lastName" />

						<h:outputLabel for="position" value="Position: *" />
						<p:inputText id="position" value="#{userBean.userForm.position}"
							required="true">
						</p:inputText>
						<p:message for="position" />

						<h:outputLabel for="email" value="Email *" />
						<p:inputText id="email" value="#{userBean.userForm.email}"
							required="true">
						</p:inputText>
						<p:message for="email" />

						<p:commandButton value="Save"
							actionListener="#{userBean.saveUser}" ajax="true"
							icon="ui-icon-disk" update="formPanel" />
						<p:commandButton value="Cancel" action="/pages/admin/users" />
					</h:panelGrid>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
