<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:panel>
			<h:form id="editCompanyForm">
				<p:panel id="formPanel" header="Add company">
					<p:growl id="messages" />
					<h:panelGrid columns="3">
						<h:outputLabel for="name" value="Name: *" />
						<p:inputText id="name" value="#{companyBean.company.name}"
							label="Name: " required="true">
							<f:validateLength minimum="1" />
						</p:inputText>
						<p:message for="name" />

						<h:outputLabel for="industry" value="Industry *" />
						<p:inputText id="industry" value="#{companyBean.company.industry}"
							required="true">
							<f:validateLength minimum="1" />
						</p:inputText>
						<p:message for="industry" />

						<h:outputLabel for="country" value="Country *" />
						<p:inputText id="country" value="#{companyBean.company.country}"
							required="true">
							<f:validateLength minimum="2" />
						</p:inputText>
						<p:message for="country" />

						<h:outputLabel for="city" value="City *" />
						<p:inputText id="city" value="#{companyBean.company.city}"
							required="true">
							<f:validateLength minimum="2" />
						</p:inputText>
						<p:message for="city" />

						<h:outputLabel for="maxUsers" value="Max users *" />
						<p:inputText id="maxUsers" value="#{companyBean.company.maxUsers}"
							required="true">
							<f:validateLongRange minimum="1" maximum="25" />
						</p:inputText>
						<p:message for="maxUsers" />

						<h:outputLabel for="users" value="User list *" />
						<p:autoComplete id="users" value="#{companyBean.company.users}"
							completeMethod="#{companyBean.completeUser}" var="user"
							itemLabel="#{user.fullName} (#{user.username})"
							itemValue="#{user}" converter="#{userConverter}" multiple="true">
							<p:column style="width:80%">
								#{user.fullName} - (#{user.username})
							</p:column>
						</p:autoComplete>
						<p:message for="users" />

						<p:commandButton value="Save"
							actionListener="#{companyBean.addCompany}" ajax="true"
							icon="ui-icon-disk" update="formPanel" />
						<p:commandButton value="Cancel" action="/pages/admin/companies" />
					</h:panelGrid>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
