<ui:composition template="/template/layout/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<p:growl id="messages" autoUpdate="true" />
		<h:form id="editForm">
			<p:accordionPanel id="usersPanel" var="user" value="#{userBean.users}" activeIndex="-1">
				<p:tab title="#{user.fullName} (#{user.username})">
					<p>
						<h:outputText value="Email: " styleClass="txt-bold" />
						<h:outputText value="#{user.email}" />
					</p>
					<p>
						<h:outputText value="Position: " styleClass="txt-bold" />
						<h:outputText value="#{user.position}" />
					</p>
					
					<p:commandButton value="Edit"
						action="#{userBean.toEditUser(user.username)}"
						ajax="false" />
					<p:commandButton value="Delete"
						action="#{userBean.deleteUser(user.username)}"
						ajax="true" update="usersPanel" />
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</ui:define>
</ui:composition>
